/* IMPORTS */

/* nata-sans-latin-400-normal */
@font-face {
  font-family: "Nata Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/node_modules/@fontsource/nata-sans/files/nata-sans-latin-400-normal.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* nata-sans-latin-700-normal */
@font-face {
  font-family: "Nata Sans Bold";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/node_modules/@fontsource/nata-sans/files/nata-sans-latin-600-normal.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* VARS */

:root {
  --blue-100: #e2f1fc;
  --blue-200: #bee2f9;
  --blue-300: #84ccf5;
  --blue-400: #43b2ed;
  --blue-500: #1992d4;
  --blue-600: #0d7abc;
  --blue-700: #0c6098;
  --blue-800: #0e527e;
  --blue-900: #114569;

  --yellow-100: #fef2c3;
  --yellow-200: #fee78a;
  --yellow-300: #fdd847;
  --yellow-400: #facc15;
  --yellow-500: #eabd08;
  --yellow-600: #caa204;
  --yellow-700: #a18207;
  --yellow-800: #856d0e;
  --yellow-900: #715e12;

  --cool-grey-100: #e2e8f0;
  --cool-grey-200: #d4dde9;
  --cool-grey-300: #b6c7da;
  --cool-grey-400: #93aac7;
  --cool-grey-500: #7991b8;
  --cool-grey-600: #677ca9;
  --cool-grey-700: #5b6c9a;
  --cool-grey-800: #4e5a7f;
  --cool-grey-900: #424b66;

  --grey-50: #ffffff;
  --grey-100: #efefef;
  --grey-200: #dcdcdc;
  --grey-300: #bdbdbd;
  --grey-400: #989898;
  --grey-500: #7c7c7c;
  --grey-600: #656565;
  --grey-700: #525252;
  --grey-800: #464646;
  --grey-900: #3d3d3d;
  --grey-950: #292929;

  --brand-main: var(--blue-500);
  --brand-accent: var(--yellow-400);

  --6xl: 3.583rem;
  --5xl: 2.986rem;
  --4xl: 2.488rem;
  --3xl: 2.074rem;
  --2xl: 1.728rem;
  --xl: 1.44rem;
  --lg: 1.2rem;
  --base: 1rem;
  --sm: 0.833rem;
  --xs: 0.694rem;
  --2xs: 0.579rem;
  --3xs: 0.482rem;
  --4xs: 0.402rem;
  --5xs: 0.335rem;
  --6xs: 0.279rem;

  --h1: var(--5xl);
  --h2: var(--4xl);
  --h3: var(--3xl);
  --h4: var(--2xl);
  --h5: var(--1xl);
  --h6: var(--xl);
  --p: var(--base);
}

/* GLOBAL */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.card {
  padding: var(--base) var(--lg);
  background-color: #fff;
  border-radius: var(--3xs);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.feather-card-action {
  width: var(--base);
  height: var(--base);
  stroke: #000;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

/* TYPOGRAPHY */

html {
  font-family: "Nata Sans";
  font-size: 16px;
  line-height: 1.6;
  color: var(--grey-950);
}

/* ELEMENTS */

.dashboard {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  color: #fff;
  padding: var(--base) var(--4xl) var(--base) var(--xl);
  background-color: var(--brand-main);
}

.sidebar__logo {
  font-size: var(--2xl);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.sidebar__primary,
.sidebar__secondary {
  list-style-type: none;
  padding: 0;
  margin: var(--4xl) 0;
}

.sidebar__primary > *,
.sidebar__secondary > * {
  font-size: var(--lg);
  padding: 0 0 0 var(--5xs);
  margin: var(--3xs) 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.feather-sidebar {
  width: var(--lg);
  height: var(--lg);
  margin: 0 var(--lg) 0 0;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.app-header {
  grid-area: 1 / 2 / 2 / 3;

  padding: var(--base) var(--xl);
  background-color: white;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
}

.app-header__upper,
.app-header__lower {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app-header__upper {
  margin: 0 0 var(--2xs) 0;
}

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.searchbar > form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.searchbar__label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#app-search {
  width: 40vw;
  background-color: var(--cool-grey-100);
  border: 1px solid var(--cool-grey-300);
  border-radius: var(--base);
}

.user {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.user__notifications {
  padding: var(--6xs) 0 0 0;
  margin: 0 var(--2xl) 0 0;
  background: none;
  border: none;
}

.user__profile {
  width: var(--4xl);
  height: var(--4xl);
  padding: 0;
  margin: 0 var(--xl) 0 0;
  background: none;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid var(--brand-accent);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.user__profile > img {
  width: 100%;
  height: auto;
}

.user__name {
  font-family: "Nata Sans Bold";
  font-size: var(--lg);
  padding: 0;
  margin: 0;
}

/* app-header__lower elements */

.greeting {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.greeting > img {
  width: var(--6xl);
  height: auto;
  margin: 0 var(--base) 0 0;
  border-radius: 50%;
  border: 4px solid var(--brand-accent);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.greeting__text,
.greeting__user {
  font-family: "Nata Sans Bold";
  font-size: var(--sm);
  color: var(--grey-600);
  line-height: 1.3;
  padding: 0;
  margin: 0;
}

.greeting__user {
  font-size: var(--xl);
  color: var(--grey-950);
}

.user-actions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.user-actions > * {
  padding: 0;
  margin: 0;
}

.action-link {
  font-family: "Nata Sans Bold";
  font-size: var(--base);
  color: #fff;
  text-decoration: none;
  padding: var(--3xs) var(--2xl) var(--xs) var(--2xl);
  margin: 0 0 0 var(--2xl);
  background-color: var(--brand-main);
  border-radius: var(--2xl);
}

.dashboard-content {
  grid-area: 2 / 2 / 3 / 3;
  min-height: 0;
  height: 100%;
  background-color: var(--cool-grey-100);
  padding: var(--base) var(--xl);
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--xl);
}

.dashboard-content .section-heading {
  font-family: "Nata Sans Bold";
  font-size: var(--h6);
  padding: 0;
  margin: 0 0 var(--xs) 0;
}

.dashboard-content__primary {
  width: 68%;
  height: 100%;
}

.dashboard-content__primary-grid {
  height: calc(100% - 37px); /* 37px is height of header above it */
  padding-bottom: var(--base); /* padding so it can scroll fully into view*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: min-content;
  gap: var(--base);
  overflow: scroll;

  scroll-snap-type: y mandatory;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.dashboard-content__primary-grid::-webkit-scrollbar {
  display: none;
}

/* need to target this better */
.dashboard-content__primary-grid .card {
  border-left: var(--3xs) solid var(--brand-accent);

  scroll-snap-align: start;
}

.dashboard-content__primary-grid .card__heading {
  font-family: "Nata Sans Bold";
  font-size: var(--lg);
  padding: 0;
  margin: 0 0 var(--6xs) 0;
}

.dashboard-content__primary-grid .card__copy {
  font-size: var(--sm);
  color: var(--grey-600);
  line-height: 1.3;
  padding: 0;
  margin: 0 0 var(--base) 0;
}

.dashboard-content__primary-grid .card-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.dashboard-content__primary-grid .card-action button {
  background: none;
  border: none;
  padding: 0;
  margin: var(--2xs) 0 0 var(--base);
}

.feather-card-action {
  width: var(--lg);
  height: var(--lg);
}

.dashboard-content__secondary {
  width: 32%;
}

.announcements .card__heading {
  font-family: "Nata Sans Bold";
  font-size: var(--base);
  padding: 0;
  margin: 0 0 var(--6xs) 0;
}

.announcements .card__copy {
  font-size: var(--sm);
  color: var(--grey-600);
  line-height: 1.3;
  padding: 0;
  margin: 0 0 var(--base) 0;

  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.announcements .card__copy:last-of-type {
  margin-bottom: var(--6xs);
}

.announcements hr {
  border: none;
  border-top: 1px solid var(--grey-200);
}

.trending .section-heading {
  margin-top: var(--base);
}

.trending .card-heading {
  font-family: "Nata Sans Bold";
  font-size: var(--base);
  padding: 0;
  margin: 0 0 var(--6xs) 0;
}

.trending__account {
  width: 100%;
  padding: 0;
  margin: var(--xs) 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.trending__account:first-of-type {
  margin-top: 0;
}

.trending__account:last-of-type {
  margin-bottom: 0;
}

.trending__account-img {
  width: var(--5xl);
  height: var(--5xl);
  padding: 0;
  margin: 0 var(--xs) 0 0;
  background: none;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.trending__account-tag {
  font-family: "Nata Sans Bold";
  font-size: var(--sm);
  /* color: var(--grey-600); */
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

.trending__account-name {
  /* font-family: "Nata Sans Bold"; */
  font-size: var(--sm);
  color: var(--grey-600);
  line-height: 1.6;
  padding: 0;
  margin: 0;
}
